[user]
	email = gavinabo@amazon.com
	name = Gavin Aboulhosn
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	pager = delta
[push]
	default = upstream
[http]
	postBuffer = 524288000
